{% extends 'base.html.twig' %}

{% block body %}
    <section class="section1">
        <div class="container">
            <div class="row">
                <div class="border col-5 ">

                    <form action="{{ path('accueil') }}" method="post">
                        <input type="text" name="ville" list="ville" autocomplete="off" onkeyup="showHint(this.value)" placeholder="Cherchez une ville ...">
                        <input type="submit">
                    </form>
                    <datalist id="ville">
                    </datalist>
                    {% if open is not empty %}
                        <br>
                        <p><strong>{{ open.location.name }}</strong></p>
                        <input type="hidden" id="latitude" name="latitude" value={{ open.location.lat }}>
                        <input type="hidden" id="longitude" name="longitude" value={{ open.location.lon }}>
                        <div class="row">
                            <div class="col-6">
                                <h4>Météo actuelle:</h4>
                                <img src="cdi:{{ open.current.condition.icon }}" style="float: left">
                                <p>{{ open.current.condition.text }}</p>
                                <p>{{ open.current.temp_c }}°C</p>
                            </div>
                            <div class="col-6">
                                <h4>Prévision: </h4>
                                {% for forecast in open.forecast.forecastday %}
                                    <img src="{{ forecast.day.condition.icon }}" style="float: left">
                                    <p>min: {{ forecast.day.mintemp_c }}°C</p>
                                    <p>max: {{ forecast.day.maxtemp_c }}°C</p>
                                    <p>{{ forecast.day.condition.text }}</p>

                                {% endfor %}
                            </div>
                        </div>
                        {% if donnees is not empty %}
                            <p>Taux protoxyde d'azote (N2O): {{ donnees.indiceno2 }}</p>
                            <p>Ozone (O3): {{ donnees.indiceo3 }}</p>
                            <p>Particules fines (PM10): {{ donnees.indicepm10 }}</p>
                            <p>Qualité de l'air: {{ donnees.qualiteair }}</p>
                        {% endif %}
                    {% else %}
                        <br>
                        <p><strong></strong></p>
                        <input type="hidden" id="latitude" name="latitude" value='48.58'>
                        <input type="hidden" id="longitude" name="longitude" value='7.75'>
                    {% endif %}
                </div>
                <div id="map" class="border col-6 offset-1"></div>
                <div id="infowindow-content">
                    <span id="place-name"  class="title"></span><br>
                    <span id="place-id"></span><br>
                    <span id="place-address"></span>
                </div>
            </div>
        </div>
    </section>
    {% if donnees is not empty %}
        <section class="section2">
            <div class="container">
                <div class="row">
                    <div class="border col-12">
                        {% if donnees.qualiteAir == "Bonne" %}
                            <p>Recommandations</p>
                            <p>Personnes agées : Bonne</p>
                            <p>Enfants en bas âge : Bonne</p>
                            <p>Asmathiques : Bonne</p>
                            <p>Activités extérieures / jogging : Bonne</p>
                        {% elseif donnees.qualiteAir == "Moyenne" %}
                            <p>Recommandations</p>
                            <p>Personnes agées : Moyenne</p>
                            <p>Enfants en bas âge : Moyenne</p>
                            <p>Asmathiques : Moyenne</p>
                            <p>Activités extérieures / jogging : Moyenne</p>
                        {% elseif donnees.qualiteAir == "Médiocre" %}
                            <p>Recommandations</p>
                            <p>Personnes agées : Médiocre</p>
                            <p>Enfants en bas âge : Médiocre</p>
                            <p>Asmathiques : Médiocre</p>
                            <p>Activités extérieures / jogging : Médiocre</p>
                        {% else %}
                            <p>Recommandations</p>
                            <p>Personnes agées : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Asmathiques : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Enfants en bas âge : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Activités extérieures / jogging : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Activités extérieures / jogging :Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section3">
        <div class="container">
            <div class="row">
                <div class="border col-8 offset-2">
                    <p>Stat</p>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="row">
                <div class="border col-6">
                    <canvas id="doughnut-chart"></canvas>
                </div>
                <div class="border col-6 ">
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div class="container">
            <div class="row">
                <div class="border col-12">
                    <p>News Letter</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="container">
                        <div class="row">
                            <div class="border col-6 offset-3">
                                {{ form_start(form) }}
                                <div class="text-center w-100">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(form.ville, { 'attr': {'autocomplete': 'off','list':'ville', 'onkeyup':'showHint(this.value)'} }) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.lieutravail, { 'attr': {'autocomplete': 'off','list':'ville', 'onkeyup':'showHint(this.value)'} }) }}
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-6">
                                        {{ form_label(form.genre) }}
                                        {{ form_widget(form.genre) }}
                                    </div>

                                    <div class="col-6">
                                        {{ form_label(form.trancheAge) }}
                                        {{ form_widget(form.trancheAge) }}
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-6">
                                        {{ form_label(form.activite) }}
                                        {{ form_widget(form.activite) }}
                                    </div>

                                    <div class="col-6">
                                        {{ form_label(form.moyenTransport) }}
                                        {{ form_widget(form.moyenTransport) }}
                                    </div>
                                </div>
                                <br>
                                <input type="submit" class="btn btn-primary">
                                {{ form_end(form) }}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <style>
        .border{
            border: 1px solid black;
        }
        .section2{
            margin-top: 20px;
        }
        .section3{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .section4{
            margin-top: 20px;
            margin-bottom: 100px;
        }
        .cadreAPI{
            margin-bottom: 20px;
        }
    </style>

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of myLatLng
            var latitude = document.getElementById('latitude').value;
            var longitude = document.getElementById('longitude').value;

            var myLatLng = {lat: parseFloat(latitude), lng: parseFloat(longitude)};
            // The map, centered at myLatLng
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 12, center: myLatLng});
            // The marker, positioned at myLatLng
            //var marker = new google.maps.Marker({position: myLatLng, map: map});
            // The marker, zone cercle myLatLng
            var zone = new google.maps.Circle({
                center: myLatLng,
                map: map,
                //strokeColor: '#ffffff',
                //strokeOpacity: 0.8,
                //strokeWeight: 2,
                //fillColor: '#fe5e2f',
                //fillOpacity: 0.35,
                //radius: 1000
            });
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcSv2oPG3tP4f_DFHF_VgyvfhMDTtyFlA&callback=initMap">
    </script>

{% endblock %}
   {% block javascripts %}
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

       <script>

           var ctx = document.getElementById("myChart");
           var myChart = new Chart(ctx, {
               type: 'bar',
               data: {
                   labels: ["Homme:18/25", "Femme:18/25","Homme:25/35","Femme: 25/35","Homme: 35/55","Femme: 35/55",
                       "Homme: 55/70", "Femme:55/70", "Homme:70+","Femme:70+"],
                   datasets: [{
                       label: 'Tout',
                       data: [ {{ nbhommes1825 }},{{ nbfemmes1825 }}, {{ nbhommes2535 }}, {{ nbfemmes2535 }},  {{ nbhommes3555 }},  {{ nbfemmes3555 }},  {{ nbhommes5570 }},{{ nbfemmes5570 }}, {{ nbhommes70 }},{{ nbfemmes70 }}],
                       backgroundColor: [
                           'rgba(54, 162, 235, 0.2)',
                           'rgba(255, 99, 132, 0.2)',
                           'rgba(54, 162, 235, 0.2)',
                           'rgba(255, 99, 132, 0.2)',
                           'rgba(54, 162, 235, 0.2)',
                           'rgba(255, 99, 132, 0.2)',
                           'rgba(54, 162, 235, 0.2)',
                           'rgba(255, 99, 132, 0.2)',
                           'rgba(54, 162, 235, 0.2)',
                           'rgba(255, 99, 132, 0.2)',
                       ],

                       borderColor: [
                           'rgba(54, 162, 235, 1)',
                           'rgba(255,99,132,1)',
                           'rgba(54, 162, 235, 1)',
                           'rgba(255,99,132,1)',
                           'rgba(54, 162, 235, 1)',
                           'rgba(255,99,132,1)',
                           'rgba(54, 162, 235, 1)',
                           'rgba(255,99,132,1)',
                           'rgba(54, 162, 235, 1)',
                           'rgba(255,99,132,1)',
                       ],
                       borderWidth: 1
                   }]
               },
               options: {
                   scales: {
                       yAxes: [{
                           ticks: {
                               beginAtZero:true
                           }
                       }]
                   },
                   title: {
                       display: true,
                       text: 'Personne'
                   }
               }
           });
       </script>
       <script>
           new Chart(document.getElementById("doughnut-chart"), {
               type: 'doughnut',
               data: {
                   labels: ["Foot", "Course", "Equitation", "Velo", "Randonnée","Autre"],
                   datasets: [
                       {
                           label: "Sport",
                           backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#c40850"],
                           data: [{{ nbFoot }},{{ nbCourse }},{{ nbEquitation }},{{ nbvelo }},{{ nbRandonnee }},{{ nbAutre }}]
                       }
                   ]
               },
               options: {
                   title: {
                       display: true,
                       text: 'Sport'
                   }
               }
           });
       </script>
       <script>
           new Chart(document.getElementById("pie-chart"), {
               type: 'pie',
               data: {
                   labels: ["Voiture","Covoiturage", "Vélo", "À pied", "Transport en commun"],
                   datasets: [{
                       label: "Transport",
                       backgroundColor: ["#3e95cd","#000ea2", "#8e5ea2","#3cba9f","#e8c3b9"],
                       data: [{{ nbvoiture }},{{ nbCovoiturage }},{{ nbVelo }},{{ nbapied }},{{ nbapied }}]
                   }]
               },
               options: {
                   title: {
                       display: true,
                       text: 'Tansport'
                   }
               }
           });
       </script>
       <script>
           var commune = [];

           {% for commune in tableau %}
           commune.push('{{ commune }}');
           {% endfor %}

           function showHint(str) {

               if (str.length == 0) {
                   document.getElementById("txtHint").innerHTML = "";
                   return;
               } else {
                   var xmlhttp = new XMLHttpRequest();

                   xmlhttp.onreadystatechange = function() {
                       if (this.readyState == 4 && this.status == 200) {
                           for (var i=0; i <  commune.length;++i){
                               str += '<option value="'+commune[i]+'" />';
                           }
                           var my_list = document.getElementById("ville");
                           my_list.innerHTML = str;

                       }
                   };
                   xmlhttp.open("GET", "/test/?q="+str, true);
                   xmlhttp.send();
               }
           }
       </script>
   {% endblock %}