{% extends 'base.html.twig' %}

{% block title %}Info index{% endblock %}

{% block body %}
    <h1>Info index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commune</th>
                <th>Centroidx</th>
                <th>Centroidy</th>
                <th>Date</th>
                <th>Echeance</th>
                <th>Indiceno2</th>
                <th>Indiceo3</th>
                <th>Indicepm10</th>
                <th>Indiceso2</th>
                <th>Qualiteair</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.commune }}</td>
                <td>{{ info.centroidx }}</td>
                <td>{{ info.centroidy }}</td>
                <td>{{ info.date }}</td>
                <td>{{ info.echeance }}</td>
                <td>{{ info.indiceno2 }}</td>
                <td>{{ info.indiceo3 }}</td>
                <td>{{ info.indicepm10 }}</td>
                <td>{{ info.indiceso2 }}</td>
                <td>{{ info.qualiteair }}</td>
                <td>
                    <a href="{{ path('info_show', {'id': info.id}) }}">show</a>
                    <a href="{{ path('info_edit', {'id': info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('info_new') }}">Create new</a>
{% endblock %}